{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load mathfilters %}

<link rel="stylesheet" type="text/css" href="{% static "home.css" %}">

<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Home page</h1>
    </div>

    <div class="col-md-8 m-auto">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type year" aria-label="Type year" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">Search</span>
        </div>
      </div>
    </div>

    <div class="col-md-12 d-flex flex-wrap">
        {% for i in end %}
        <button type="button" class="btn btn-info m-1" data-toggle="modal" data-target="#event">{{i}}</button>
        {% endfor %}
    </div>

    <div class="col-md-12">
        <h2>Content</h2>
        <ul>
            {% for entry in events %}
            <li>{{entry.name}} - {{entry.date.year}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col first">
            {% for entry in events %}
            <i style="margin-left: {{entry.date.year|mul:0.01}}px">*</i>
            {% endfor %}
    </div>
    <div class="col second">
      Home page content
    </div>
  </div>
  </div>

  <div class="modal fade" id="event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Events for the year</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
              <div class="col-md-4">.col-md-4</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </div>
  </div>




{% endblock %}